---
layout: handbook-page-toc
title: "Create:Gitaly Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## What is the Gitaly team?

The Gitaly team is responsible for building and maintaining systems to ensure
that the git data storage tier of GitLab instances, and _GitLab.com in particular_,
is fast. Gitaly migrated GitLab.com away from NFS, and is now working on a
highly available Git storage layer.

## Mission

Provide a durable, performant, and reliable Git storage layer for GitLab.

## Team Members

The following people are permanent members of the Gitaly Team:

<%= direct_team(manager_role: 'Engineering Manager, Gitaly') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[&,] Create:Gitaly/, direct_manager_role: 'Engineering Manager, Gitaly') %>

## Common Links

 * Gitaly's [public issue tracker](https://gitlab.com/gitlab-org/gitaly/issues/).
 * [Slack Channel](https://gitlab.slack.com/archives/g_create_gitaly)

## How we work

#### Onboarding

When a new developer joins Gitaly, their resposibility will include maintaining
the Gitaly project from their first day. This means that the developer will get
`Maintainer` access to the repository and will be added to the
`gitlab.com/gl-gitaly` group so they appear in merge request approval group.

#### Retrospectives

At the beginning of each release, the Gitaly EM will create a retrospective issue
to collect discussion items during the release. The first weekly Gitaly meeting
after the 18th that issue will be used to discuss what was brought up.

